@use '../../assets/styles/mixins' as mixin;

.projectsIntroContainer {
    padding: 0px 100px;
    p{
        font-size: 1.3em;
    }
    @include mixin.md-lt{
    margin: 50px;
    padding: 0px 50px;
        h2 {
            margin: 0;
        }
        p{
            font-size: 1.1em;
        }
    }
    @include mixin.sm-lt {
        margin: 25px;

        p{
            font-size: 1em;
        }
    }
    @include mixin.xs{
        margin: 5px;
        p{
            font-size: 0.8em;
        }
    }
}
.otherLinksSection{
    a {
        img{
        width: 25px;
        height: 25px;
        }
    }

}