@use '../assets/styles/mixins' as mixin;

.headerContainer {
    background: var(--blue-transparency-clear);
    border-radius: 0px 0px 30px 30px;
    border: 1px solid var(--blue1);
    overflow: hidden;
    justify-content: space-between;
    li{
        flex-direction: row;
        align-items: center;
    }
    i {
        font-size: 1em;
    }
    @include mixin.md-lt {
        width: 50%;
        justify-content: center;
        gap: 2em;
        button{
            display: none;
        }
    }
    @include mixin.sm-lt {
        gap: 10px;
    }
}



