header{
    position: relative;
    z-index:2;
    width: 90%;
    margin: auto;
    background: var(--blue-transparency-clear);
    border-radius: 0px 0px 30px 30px;
    border: 1px solid var(--blue1);
    overflow: hidden;
}



a{
    text-decoration: none;
}

