.banner {
    height: 450px;
    margin: 0;
    padding: 0px 10px;
    overflow: hidden;
    background-color: transparent;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

.logos {
    width: 10%;
    position: relative;
    margin-top: 0px;
    opacity: 0.9;
}

.slideY {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex-wrap: nowrap;
    animation: slideY 20s linear infinite;
    //animation: slide 16s linear infinite; //Calibré horizontale
}

.slideX {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 150px;
    flex-wrap: nowrap;
    animation: slideX 10s linear infinite;
    //animation: slide 16s linear infinite; //Calibré horizontale
}

img{
    width: 150px;
    height: 140px;
    flex-shrink: 0;
}

@keyframes slideY{
    0% {
        transform: translateY(10%)
    }

    100%{
        //transform: translateY(-157.5%)  //Calibré horizontale
        transform: translateY(-50%)

    }
}

@keyframes slideX{
    0% {
        transform: translateX(150%)
    }

    100%{
        //transform: translateY(-157.5%)  //Calibré horizontale
        transform: translateX(-225%)

    }
}
