@use '../assets/styles/mixins' as mixin;

.allProjectsContainer {
  padding: 50px 0px;
  @include mixin.md{
    gap: 15px;
  }
  @include mixin.sm-lt{
    gap: 40px;
  }
}

//CARD by project
.projectCard {
  position: relative;
  width: 30%;
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
  border: var(--border-purple);
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.03);
    .cardTechsBanner{
      background-color: #100529de;;
      box-shadow: var(--box-shadow-purple-extend)
    }
    &:active {
      transform: scale(0.95);
      border: var(--border-purple);
      .cardTechsBanner{
        background-color: #100529;
        box-shadow: none;
      }
    }
  }
  @include mixin.lg {
    width: 42%;
    height: 500px;
  }
  @include mixin.md {
    width: 45%;
    height: 500px;
  }
  @include mixin.sm {
    width: 80%;
    height: 400px;
  }
  @include mixin.xs {
    width: 80%;
    height: 350px;
  }
  .cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(124, 74, 241, 0.096);
  }

  //TECHS
  .cardTechsBanner {
    position: relative;
    width: 78%;
    height: 30%;
    border-top: none;
    border-radius:0px 0px 10px 10px;
    border-width: 5px 10px 15px 20px;
    border-top: none;
    background-color: #100529b9;
    box-shadow: var(--box-shadow-purple);
    @include mixin.lg-lt {
      height: 35%;
      width: 85%;
    }
    @include mixin.md-lt {
      height: 35%;
    }
    @include mixin.sm {
      width: 67%;
    }
    @include mixin.xs{
      width: 75%;
      height: 68%;
    }

    .techBannerLogosContainer{
      width: 90px;
      margin: 0;
    }
    img{
      padding: 5px;
      width: 60px;
      height:60px;
      background-color: #0b0b22;
      border-radius: 10px;
    }
    p{
      margin: 0;
      font-size: 0.4em;
    }
    h3 {
      margin: 0;
      font-size: 1.4em;
      color: white;
      text-shadow: 2px 2px 5px #000000;
      @include mixin.sm {
        font-size: 1.1em;
      }
      @include mixin.xs {
        font-size: 1em;
      }
    }
  }
}

//Modal after clickEvent
.modal {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.897);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;

  .modalContent {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-image: url('../assets/images/blur-modal.png');
    background-size: cover;
    background-position: bottom ;
    background-position: fixed;
    a {
      display: block;
      margin:0;
      font-weight: 450;
      &:hover {
        font-weight: bold;
      }
      @include mixin.sm-lt {
        font-size: 0.8em;
      }
    }
    p{
      mixin.sm-lt {
        font-size: 0.7em;
      }
    }


    @include mixin.md-lt {
      width: 80%;
      padding: 15px;
    }
  }
}