
.allProjectsContainer {
    padding: 50px 0px;
  }

//CARD by project
.projectCard {
  position: relative;
  width: 500px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.03);
  }
  .cardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
  }

  //TECHS
  .cardTechsBanner {
    position: relative;
    width: 110%;
    height: 190px;
    z-index: 1;
    background-color: #0b0b22e7;
    .techBannerLogosContainer{
      width: 80px;
      margin: 0;
    }
    img{
      padding: 5px;
      width: 70px;
      height:70px;
      background-color: #0b0b22;
      border-radius: 10px;

    }
    p{
      margin: 0;
      font-size: 0.4em;
    }
    h3 {
      margin: 0;
      color: white;
      text-shadow: 2px 2px 5px #000000;
      &:hover {
        background: rgba(0, 0, 0, 0);
        font-weight: bold;
      }
    }
  }
}

//Modal after clickEvent
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modalContent {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 800px;
    width: 100%;
    color: #000000;

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    a {
      display: block;
      margin: 10px 0;
      font-weight: bold;
      color: #000000;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #0056b3;
        cursor: pointer;
      }
    }
  }
}