
.skillsSection {
  width : 90%;
}
.sCardContainer {
    width: 45%;
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid red;
    img {
      width: 200px;
      height: auto;
    }
    p{
      font-size: 0.9em
    }
  }

  .skillsTextContainer {
    width: 90%;
  }