.smallCard {
    width: 45%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: -60px -16px rgb(75, 75, 77);
    &.reverse{
      box-shadow: 60px -16px  rgb(75, 75, 77);
    }
  }