@use '../../assets/styles/mixins' as mixin;

.landingPageContainer {
  width: 100%;
  height: 100vh;
  .landingTitle{
      margin: 10px 0px 0px 0px;
      padding: 0px 50px;
    @include mixin.lg-lt{
      padding: 0px 20px;
      font-size: 5.9em;
      font-weight: 500;
    }
    @include mixin.md-lt{
      padding: 0px 150px;
      font-size: 5.3em;
    }
    @include mixin.sm-lt{
      padding: 0px 60px;
    }
    @include mixin.xs{
      padding: 0px 20px;
      font-size: 4em;
    }
  }
}
.titlesContainer{
  @include mixin.md-lt{
    gap: 10px;
    margin-top: 150px;
    justify-content: flex-start;
  }
}
.landingSubtitle {
  font-size: 2em;
  padding: 0px 200px;
  @include mixin.md{
    font-size: 1.8em;
    padding: 0px 100px;
  }
  @include mixin.sm-lt{
    padding: 0px 50px;
    font-size: 1.5em;
  }
}

.buttonLink {
  padding: 0px 20px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  background: linear-gradient(135deg, #5500ff94, #8e2de2);
  font-size: 1.6em;
  text-shadow: var(--text-shadow-outline);
  border: 2px solid #000000c7;
  border-radius: 10px;
  box-shadow: var(--box-shadow-purple);
  transition: transform 0.1s ease-in-out;
  &:hover {
    transform: scale(1.1);
    background: linear-gradient(135deg, #5500ff, #8e2de2); 
    box-shadow: var(--box-shadow-purple-extend);
  }
  &:active{
    transform: scale(0.95);
    box-shadow:var(--box-shadow-purple-reduce);
    background: linear-gradient(135deg, #5500ff5d, #8e2de2);
  }
  @include mixin.md-lt{
    font-size: 2em;
  }
  @include mixin.xs{
   margin-top: 50px;
  font-size: 1.8em;
  }
  i {
    font-size: 0.8em;
  }
}

//Astonaut
.astronaut img {
  position: absolute;
  z-index: 3;
  padding-top: 150px;
  display: block;
  left: 48%;
  top: 19%;
  animation: anim 20s linear infinite;
    @include mixin.lg{
      width: 150px;
    }
    @include mixin.md-lt{
      width: 130px;
      left: 50%;
      top: 18%;
    }
    @include mixin.xs{
      width: 100px;
      left: 55%;
      top: 48%;
    }
  }

.astronaut2 img {
  position: absolute;
  z-index: 5;
  padding-top: 150px;
  display: block;
  left: 20%;
  top: -25%;
  animation: anim2 10s linear forwards;
  animation-iteration-count: 1;
  @include mixin.lg-lt{
    width: 210px;
    left: 10%;
    top: -23%;
  }
  @include mixin.md{
    left: 15%;
    top: -20%;
  }

  @include mixin.sm{
    width: 190px;
    left: 12%;
    top: -19%;
  }
  @include mixin.xs{
    width: 130px;
    left: 10%;
    top: -16%;
  }
}

@keyframes anim {
  0% {
    transform: translateY(0px);
  }
  10%{
    transform: translateY(0px) rotate(5deg);
  }
  30%{
    transform: translateY(64px) rotate(10deg);
  }
  30%{
    transform: translateY(128px) rotate(15deg);
  }
  40%{
    transform: translateY(190px) rotate(20deg);
  }
  50% {
    transform: translateY(256px) rotate(25deg);
  }
  60%{
    transform: translateY(190px) rotate(20deg);
  }
  70%{
    transform: translateY(128px) rotate(15deg);
  }
  80%{
    transform: translateY(64px) rotate(10deg);
  }
  90%{
    transform: translateY(0px) rotate(2deg);
  }
  100% {
  transform: translateY(0px);
  }
}
@keyframes anim2 {
  0% {
      transform: translateY(-5px) rotate(0deg);
  }
  25%{
  transform: translateX(3px) translateY(30px) rotate(-5deg);
  }
  50%{
  transform: translateX(5px) translateY(60px) rotate(-10deg);
  }
  75%{
  transform: translateX(8px) translateY(90px) rotate(-18deg);
  }
  100% {
  transform: translateX(8px) translateY(120px) rotate(-22deg);
  }
}

//XS Media queries anim
@include mixin.xs{
  @keyframes anim {
    0% {
      transform: translateY(0px);
    }
    10%{
      transform: translateY(2px) rotate(5deg);
    }
    30%{
      transform: translateY(0px) rotate(0deg);
    }
    40%{
      transform: translateY(-2px) rotate(-2deg);
    }
    50% {
      transform: translateY(0px) rotate(0deg);
    }
    60%{
      transform: translateY(2px) rotate(4deg);
    }
    70%{
      transform: translateY(0px) rotate(0deg);
    }
    80%{
      transform: translateY(-2px) rotate(-2deg);
    }
    90%{
      transform: translateY(0px) rotate(0deg);
    }
      100% {
      transform: translateY(0px);
    }
  }
  @keyframes anim2 {
    0% {
        transform: translateY(-5px) rotate(0deg);
    }
    25%{
    transform: translateX(3px) translateY(30px) rotate(-3deg);
    }
    50%{
    transform: translateX(5px) translateY(60px) rotate(-7deg);
    }
    75%{
    transform: translateX(8px) translateY(90px) rotate(-11deg);
    }
    100% {
    transform: translateX(8px) translateY(120px) rotate(-15deg);
    }
  }
}




