h1,
h2,
h3,
h4 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Outfit';
    font-size: 19px;
    color: #000000;
}

p {
    font-size: 19px;
}

.article {
    width: 45%;
    text-align: center;
    padding: 0px 35px;
}

.title{
    font-size: 45px;
    color: white;
    font-weight: 500;
}

.title-color{
    font-size: 45px;
    color: var(--primary);
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

img {
    max-width: 100%
}


// .background-image{
//     background-color: #0000000;
// };

.background-image{
    background-image: url('../images/bck2.jpg');
    background-size: contain;
 }

// .background {
//     z-index: -1;
//     overflow: hidden;
//     background-color: var(--primary);
// }

.background-animation {
    z-index: -1;
    overflow: hidden;
    background-color:  red;
}

a.active {
    & .btn{
        color: white;
        text-decoration:black;
    }
}
