.d-flex  {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-fill {
    flex: 1 1 auto;
}

.all-center {
    align-items: center;
    justify-content: center,
}

.justify-content-center {
    justify-content: center;
}

.justify-content-sb{
    justify-content: space-between;
}

.justify-content-sa{
    justify-content: space-around;
}


.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}


.align-items-center {
    align-items: center;
}

