.btn {
  padding: 5px 15px;
  border : none;
  cursor: pointer;
  font-family: 'Pridi';
  font-size: 18px;
  background-color: transparent;
  color: #000000;
}

.site-logo {
  max-width: 40px;
  height: 100%;
}

.icons{
  font-size: 20px;
  color: #000000;
}

.background-blurred{
  width: 100%;
  text-align: center;
  background-color: var(--third);
  color: #000000;
}

.hover-effect-classic {
  transition: 0.2s transform;
  &:hover {
    transform: scale(1.1);
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
  }
}

.active-effect{
  transition: 0.2s transform;
  &:active {
    transform : scale(0.8);
    border-bottom: none;
  }
}