.section {
  z-index: 1;
  padding: 20px;
  font-family: 'Outfit';
  font-size: 30px;
  border-radius: 20px;
  color: #ffffff;
}

.border-style{
  background-color: rgba(18, 7, 65, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  border-top: 1px solid var(--grey1);
  border-left: 1px solid var(--grey2);
}

.btn {
  padding: 5px 15px 0px 4px;
  border : none;
  font-family: 'Outfit';
  color: #ffffff;
  background-color: transparent;
  font-size: 18px;
  transition: all  0.1s;
  backdrop-filter: none;
}

.hover-effect-btn{
  &:hover {
    .btn,
    .icons{
    cursor: pointer;
    color: var(--third);
    }
  }
}

.site-logo {
  max-width: 40px;
  height: 100%;
}

.icons{
  font-size: 20px;
  color: #ffffff;
}

.background-blurred{
  background-color: rgba(18, 7, 65, 0.2);
  backdrop-filter: blur(10px);
}

.active-effect{
  transition: 0.2s transform;
  &:active {
    transform : scale(0.8);
    border-bottom: none;
  }
}