.btn {
  padding: 5px 15px;
  border : none;
  cursor: pointer;
  font-family: 'Dm Serif Text';
  font-size: 14px;
  background-color: transparent;
  color: #ffffff;
  }

.image-logo {
  max-width: 40px;
  height: 100%;
}

.logo{
  font-size: 14px;
}


.background-blurred{
  width: 100%;
  text-align: center;
  background-color: rgba(14, 13, 13, 0.6);
  color: white;
}

.hover-effect-classic {
  transition: 0.2s opacity;
  &:hover {
    opacity: 0.4;
  }
}

.active-effect{
  transition: 0.2s transform;
  &:active {
    transform : scale(0.8)
  }
}
