@use './mixins' as mixin;

.container {
    //max-wwidth: 1200px
    margin: auto;
    width: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.z-index-2 {
    z-index: -2;
}
.z-index-1 {
    z-index: -1;
}
.z-index1 {
    z-index: 1;
}
.z-index2 {
    z-index: 2;
}
.z-index3 {
    z-index: 3;
}
.z-index4 {
    z-index: 4;
}
.z-index1000 {
    z-index: 1000;
}
.width-100{
    width: 100%;
}
// paddings & margins & gap
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.p-40 {
    padding: 40px;
}
.p-50 {
    padding: 40px;
}

.pt-75{
    padding-top: 75px;
}


.m-auto {
    margin: auto;
}
.m-0 {
    margin: 0;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.m-30 {
    margin: 30px;
}
.m-50 {
    margin: 50px;
}
.m-100 {
    margin: 100px;
}


.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-50 {
    margin-left: 50px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-100 {
    margin-top: 100px;
}


.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}


.gap-0 {
    gap: 0;
}
.gap-10 {
    gap: 10px;
}
.gap-15 {
    gap: 15px;
}

.gap-20 {
    gap: 20px
}

.gap-25 {
    gap: 25px
}
.gap-40{
    gap: 40px
}
.gap-50 {
    gap: 50px
}
.gap-100 {
    gap: 100px
}
.gap-400 {
    gap: 400px
}
.gap-500 {
    gap: 500px
}


//positions
.t-0{
    top: 0;
}

.b-0 {
    bottom: 0;
}

//borders

.br-10 {
    border-radius: 10px;
}
.br-20{
    border-radius: 20px;
}
.br-30 {
    border-radius: 30px;
}

//text utils
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

//Effects 




