.container {
    //max-wwidth: 1200px
    margin: auto;
    width: 100%;
}

// paddings & margins & gap
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
    padding: 30px;
}
.p-40 {
    padding: 40px;
}
.m-5 {
    margin: 5px;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-30 {
    margin: 30px;
}

.m-20 {
    margin: 20px;
}
.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px
}
.gap-50 {
    gap: 50px
}
.gap-100 {
    gap: 100px
}

.gap-500 {
    gap: 500px
}


//positions
.t-0{
    top: 0;
}

.b-0 {
    bottom: 0;
}


//text utils
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}




