:root {
    --primary: #010B13;
    --secondary: #010B10;
    --third: #ffd06e;
    --blue1: #0C77EC;
    --blue2: #01295F;
    --grey1: #262626;
    --grey2: #3d3e42;
    --gey3: #242424
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: 0px 2px 18px 0px rgb(0 0 0 /20%);
}