:root {
    --primary: #FFFFF1;
    --secondary: #FEEFC8;
    --third: #f8f1d2;
    --blue1: #0C77EC;
    --blue2: #01295F;
    --grey1: #262626;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: 0px 2px 18px 0px rgb(0 0 0 /20%);
}