@use '../../assets/styles/mixins' as mixin;

.introSection{
  @include mixin.md-lt{
    flex-direction: column;
    p {
      font-size: 1.2em;
    }
  }

}
.softSkillsContainer {
  padding: 0px 100px;
  margin: 100px -50px;
  background-color: var(--grey3);
  box-shadow: var(--box-shadow-orange);
  li {
    width: 20%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff721b, #fa3952, #791ab1);
    font-size: 1.3em;
    font-weight: 600;
    box-shadow: var(--box-shadow);
    text-shadow: 0px 2px 5px #000000;
    @include mixin.lg-lt{
      font-size: 1.1em;
    }
    @include mixin.md-lt{
      width: 33%;
    }
    @include mixin.sm-lt{
      width: 50%;
    }@include mixin.xs {
      font-size: 0.8em;
    }

  }
}



//FORMATIONS & EXP SECTION
.formationSection {
  background-color: transparent;
  min-height: 100vh;
  padding: 100px 0;
  h4 {
    @include mixin.sm {
      font-size: 1.1em;
      font-weight: 550;
    }
    @include mixin.xs {
      font-size: 0.8em;
      font-weight: 5000;
    }
  }
}

.formationLogosLegend {
  gap: 400px;
  @include mixin.md {
    gap: 300px
  }
  @include mixin.sm-lt {
    gap: 100px;
  }
  img {
    width: 150px;
    height: auto;
    @include mixin.sm-lt {
      width: 100px;
    }
  }
}
.timeline {
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  @include mixin.lg {
    width: 75%;
  }
  @include mixin.md {
    width: 80%;
  }
  @include mixin.sm-lt{
    width: 90%;
  }
}

.timelineContent {
  padding: 1.75rem;
  margin: 1rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  transition: 0.4s ease;
  overflow-wrap: break-word;
  p {line-height: 1.1em;}
}
.timelineContentR{
  box-shadow: var(--box-shadow-purple);
  border: 1px solid var(--purple1);
}
.timelineContentL{
  box-shadow: var(--box-shadow-orange);
  border: 1px solid var(--orange1);
}
.timelineEmpty{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;p{
    margin: 0;
  }
}
.timelineEmptyRight{
  text-align: right;
  margin-right: 5px;
    p{
      margin: 0px 15px;
    }
}
.timelineComponent {
  margin: 0px 10px 15px 10px;
  @include mixin.sm-lt{
    padding: 20px 10px;
  }
}

.timelineMiddle {
  position: relative;
  width: 3px;
  height: 100%;
  background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
}
.maiMiddle {
  opacity: 0;
}
.timelineCircle {
  position: absolute;
  top: 0;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

